name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  postgres-test:
    runs-on: ubuntu-latest
    services:
      postgres_db:
        image: postgres:14
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: ci_user
          POSTGRES_PASSWORD: ci_password

        options: >-
          --health-cmd "pg_isready -U ci_user -d test_db"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: postgres://ci_user:ci_password@postgres_db:5432/test_db
      TESTING: "false"
      SECRET_KEY: ${{ secrets.SECRET_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set-up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run migrations
        run: |
          for i in {1..30}; do
            pg_isready -h postgres_db -p 5432 -U ci_user && break
            echo "Waiting for Postgres..."
            sleep 2
          done
          python manage.py migrate --noinput

      - name: Run linters
        run: |
          pip install flake8
          flake8

      - name: Run Tests
        run: python manage.py test tests
